@model TestExercise.Models.Person
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Person details</h1>
    @using (Html.BeginForm("StoreData", "Home")) {
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Surname)
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Adress)
                    @Html.TextBoxFor(m => m.Adress, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6"></div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <input type="submit" value="Save in Database" class="btn btn-default" formaction="@Url.Action("StoreDataDb","Home")" />
                <input type="submit" value="Log It" class="btn btn-default" formaction="@Url.Action("StoreDataLog","Home")" />
                <input type="submit" value="Save to XML" class="btn btn-default" formaction="@Url.Action("StoreDataXML","Home")" />
            </div>
        </div>
        @ViewBag.Message
    }
</div>
